
.sidebar{
  position: absolute;
  left: 0;
  margin-left: -40%;
  height: 99%;
  width: 78px;
  background: #665ae9;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border-radius: 13px;
  border: solid;
  border-width: 1.5px;
  border-color: rgb(94, 91, 91);
}
.sidebar.active{
  margin-left: 0%;
  width: 240px;
  background:  rgba(187, 252, 252, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.main{
  display: block;
  grid-template-columns: 20% 80%;
  transition: all 0.7s ease;
}

.sidebarbutton{
  width: 100%;
  padding: 2%;
  background-color: rgba(6, 148, 243, 0.4);
  border-radius: 12px;
  border: none;
  margin-top: 10%;
}
.sidebarbuttonselect{
  width: 100%;
  padding: 2%;
  margin-top: 10%;
  background-color: rgba(153, 204, 252, 0.4);
  border-radius: 12px;
  border: none;
}
.sidebarbuttonselect:hover{
  background-color: rgba(6, 148, 243, 0.4);
}
.head {
  text-align: left;
  background: linear-gradient(to right, #25aae1, #40e495);
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1%;
  position: sticky;
  border-bottom: 1px solid #87cefa;
  color: white;
}
.menuicon{
  cursor: pointer;
  transition: all 0.5s ease;
}
.menuicon.rot{
  transform: rotate(90deg); 
  transition: all 0.5s ease;
}
.dashboard {
  padding: 4%;
  text-align: center;
  color: rgb(2, 100, 248);
}
.cards{
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
.bgclr{
  background-color: rgb(220, 220, 220,0.7);
  
 
}
.dashcard{
  padding: 1%;
 border-left: 5px solid rgb(255, 0, 0,0.9);
  border-radius: 7px; 
  text-align: left;
  background-color: rgba(0, 153, 255, 0.6);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.dashcardclick{
  padding: 1%;
  border-left: 5px solid rgb(255, 0, 0,0.9);
   border-radius: 7px; 
   text-align: left;
   background-color: rgba(0, 153, 255, 0.6);
   color: white;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
   cursor: pointer;
}
.filter {
  background-color: #1a75ff;
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 4px 4px 10px 2px gainsboro;
  padding: 0.6%;
}
.filter:hover {
  box-shadow: 4px 4px 10px 2px lightblue;
}
.close{
  background-color: red;
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 4px 4px 10px 2px gainsboro;
  padding: 0.6%;
}
.close:hover {
  box-shadow: 4px 4px 10px 2px lightblue;
}
.loopbutton {
  color: black;
  background-color: aqua;
  border: none;
  border-radius: 12px;
  box-shadow: 4px 4px 10px 2px gainsboro;
  padding: 4%;
}
.loopbutton:hover {
  box-shadow: 4px 4px 10px 2px lightblue;
}
.imgicon {
  cursor: pointer;
}
.centerdiv {
  display: flex;
  justify-content: center;
  width: 100%;
}
.login {
  text-align: center;
}
.logincarder {
  border: 1px solid black;
  border-radius: 12px;
  padding: 7%;
  margin-top: 3%;
  width: 30%;
  height: 300px;
  text-align: center;
  display: block;
  justify-content: space-around;
}
.carder {
  border: 1px solid black;
  border-radius: 12px;
  padding: 2%;
  margin-top: 3%;
  text-align: center;
}
.errormsg {
  color: red;
}
.forminput {
  display: flex;
  justify-content: space-between;
}
.tablediv {
  padding: 1%;
  margin-top: 1%;
}
.profilediv {
  padding: 2%;
}
.profile {
  padding: 1%;
}
.falsestatus {
  background-color: grey;
  color: white;
  width: 40%;
  border-radius: 7px;
  text-align: center;
  margin-left: 30%;
}
.truestatus{
  background-color: green;
  color: white;
  width: 40%;
  border-radius: 7px;
  text-align: center;
  margin-left: 30%;
}