.sidebar {
  position:sticky;
  top:10%;
  height: 100%;
  
  width: 78px;
  /* background: rgba(187, 252, 252, 0.35); */
  background-color: white;
  padding: 6px 14px;
  transition: all 0.5s ease;
}
.sidebar.active {
  margin-left: 0%;
  width: 240px;
  /* background: rgba(187, 252, 252, 0.35); */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);   */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.main {
  display: flex;
  justify-content: flex-start;
}
.routes{
  width: 100%;
}
.sidebarbutton {
  width: 100%;
  padding: 2%;
  background-color: rgb(173, 216, 230);
  border: none;
  border-radius: 2px;
  margin-top: 20%;
  color: rgb(0, 102, 255);
  
}
.sidebarbuttonselect {
  width: 100%;
  padding: 2%;
  margin-top: 20%;
  border-radius: 2px;
  border: none;
  color: rgb(0, 102, 255);
}
.sidebarbuttonselect:hover {
  background-color: rgb(173, 216, 230,0.7);
}
.text{
  display: inline;
}
.texthid{
  display: none;
}
.dashboard {
  padding: 3%;
  background-color: rgb(255, 255, 255);
  display: flex;
  
}
.dashtext{
  padding-left: 2%;
}
.dashicon{
  background-color: white;
  padding: 2%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cards {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}
.bgclr {
  padding: 2%;
  background-color: #9fbbd6;
}
.bgclrappoint{
  padding: 2%;
  background-color: #9fbbd6;
  height: 90vh;
}
.dashcard {
  padding: 3%;
  /* border-left: 5px solid rgb(255, 0, 0, 0.9); */
  width: 25%;
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid rgb(0, 0, 0,0.3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.dashcardclick {
  padding: 3%;
  width: 25%;
  /* border-left: 5px solid rgb(255, 0, 0, 0.9); */
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid rgb(0, 0, 0,0.3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  cursor: pointer;
}
.cardicon{
  background-color: rgb(216, 112, 147,0.5);
  padding: 3%;
  border-radius: 3px;
  opacity: 0.5;
  justify-content: center;
  color: red;
  margin-bottom: 4%;
}
.filter {
  background-color: #1a75ff;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 4px 10px 2px gainsboro;
  padding: 0.6%;
}
.filter:hover {
  box-shadow: 4px 4px 10px 2px lightblue;
}
.close {
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 4px 10px 2px gainsboro;
  padding: 0.6%;
}
.close:hover {
  box-shadow: 4px 4px 10px 2px lightblue;
}
.loopbutton {
  color: black;
  background-color: aqua;
  border: none;
  border-radius: 2px;
  box-shadow: 4px 4px 10px 2px gainsboro;
  padding: 4%;
}
.loopbutton:hover {
  box-shadow: 4px 4px 10px 2px lightblue;
}
.imgicon {
  cursor: pointer;
}
.centerdiv {
  display: flex;
  justify-content: center;
  width: 100%;
}
.login {
  text-align: center;
}
.logincarder {
  border: 1px solid black;
  border-radius: 12px;
  padding: 7%;
  margin-top: 3%;
  width: 30%;
  height: 300px;
  text-align: center;
  display: block;
  justify-content: space-around;
}
.carder {
  border: 1px solid black;
  border-radius: 12px;
  padding: 2%;
  margin-top: 3%;
  text-align: center;
}
.errormsg {
  color: red;
}
.forminput {
  display: flex;
  justify-content: space-between;
}
.tablediv {
  padding: 1%;
  margin-top: 1%;
}
.appointments{
  position: relative;
  bottom: 0;
}
.profilediv {
  padding: 1%;

  
}
.profiledivs{
  display: flex;
  justify-content: center;
}
.profile {
  padding: 1%;
}
.profilecard{
  border: 1px solid black;
  margin-top: 2%;
  width: 40%;
  display: flex;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
}
.profilehead{
  background-color: lightgreen;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
  text-align: center;
}
.falsestatus {
  background-color: grey;
  color: white;
  width: 40%;
  border-radius: 7px;
  text-align: center;
  margin-left: 30%;
  padding: 1%;
}
.truestatus {
  background-color: green;
  color: white;
  width: 40%;
  border-radius: 7px;
  text-align: center;
  margin-left: 30%;
  padding: 1%;
}
